body
{
    background: url("../img/Фон 1.png");
    background-size: cover;
    margin: 0;
    padding: 0;


}
.header
{
    max-width: 1535px;
    height: 58px;
    margin: 0 ;
    padding: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    justify-content: space-evenly;

}
.title
{
    display: flex;
    width: 157px;
    height: 22px;
    padding-top:18px ;
    padding-left: 79px;
    padding-bottom: 18px;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
    margin: 0;
}
.container
{

}
.icon
{
    display: flex;
    padding-bottom: 17px;
    padding-top: 18px;
    padding-left: 600px ;
    justify-content: flex-end;
   margin-right: -100px;
    color: white;
}
svg
{
  margin: 0 27px;
    fill: currentColor;
}
.ul {
    list-style-type: none; /* Відміна відображення маркерів списку */
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 140px;
    margin: 0;
    width: 108px;
    height: 22px;
    white-space: nowrap;



}

li, .li-one {
    display: inline;
    margin-right: 5px;
    color: #FFF;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.ul .li-one::before
{
   content: url("../img/line.png");
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    width: 1px;
    height: 19px;
   margin-right: 30px;

}
.header:hover .title,
.header:hover .icon svg,
.header:hover .ul li {
    color: rgba(60, 184, 120, 0.80); /* Зелений колір тексту */
}

.header:hover .icon svg {
    fill: rgba(60, 184, 120, 0.80); /* Зелений колір SVG-елементів */
}

.header:hover .ul :nth-child(1),
.header:hover .ul :nth-child(3) {
    color: white; /* Білий колір тих елементів, які мають залишатися білими */
}
.main
{
    width: 444px;
    height: 584px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    margin: 52px auto;

}
.head-title
{
    display: flex;
    justify-content: space-between;
}
.title-two
{
   position: relative;
    width: 69px;
    height: 14px;
    justify-content: center;
    flex-shrink: 0;
    color: #434343;
    text-align: center;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    white-space: nowrap;
    padding-top: 31px;
    padding-left: 61px;
}
.box
{
    margin-top: 45px;
    background: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
}
.text
{
    width: 39px;
    height: 14px;
    flex-shrink: 0;
    color: #3CB878;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    white-space: nowrap;
    padding-top: 33px;
    padding-right: 59px;
}

.login-container
{
    display: flex;
    justify-content: center;

}

button {
    margin: 4px;
    display: block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-right: -50px;
    padding-left: -50px;
}

.google-login {
    background-color: #DF4A32;
    color: #fff;
    width: 160px;
    height: 48px;
    flex-shrink: 0;

}

.facebook-login
{
    background-color:#305DB8;
    color: #fff;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */


}


.button-text {
    font-family: 'Ubuntu-Title', sans-serif;
    vertical-align: middle;
    margin-right: 15px;
    padding-left: 20px;
}

button img {
    vertical-align: middle;
    max-height: 24px;
}

.or
{
    color: #848484;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    text-align: center;
}
.or::before
{
    content: url("../img/line (1).png");
    width: 152px;
    height: 1px;
    margin: 5px;
}

.or::after
{
    content: url("../img/line (1).png");
    width: 152px;
    height: 1px;
}
.form
{
    display: flex;
    flex-direction: column;
    margin: 10px;

}
.input
{

    width: 322px;
    height: 44px;
    flex-shrink: 0;
    fill: #FFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;

    margin-left: 50px;
    margin-top: 15px;
    color: #BEBEBE;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */

}
.checkbox
{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    margin-left: 90px;
}
.span
{
    color: #3CB878;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    }
.span-one
{
    color: #434343;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.create-button
{
    width: 324px;
    height: 46px;
    flex-shrink: 0;
    background-color: #3CB878CC;
    margin-left:65px;
}
.text-two
{
    color: #FFF;
    font-family: 'Ubuntu-Title', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.create-button:hover
{
    fill: #01813F;
}

.text:hover
{
    text-decoration: underline;
}
 button.facebook-login:hover {
    fill: darkblue;
}
